<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="table.css"/>
</head>
<body>
    <div th:if="${retrievedItems != null}">
        <h1>Current Items</h1>
        <table id="itemTable">
            <tr>
                <th>Serial Number</th>
                <th>Type</th>
                <th>Description</th>
                <th>Thumbnail</th>
            </tr>
            <tr th:each="item : ${retrievedItems}">
                <td th:text="${item.serialNumber}"></td>
                <td th:text="${item.type}"></td>
                <td th:text="${item.description}"></td>
                <td ><img th:src="${'data:image/jpg;base64,'+item.thumbnail}"/></td>
            </tr>
        </table>
    </div>
</body>
</html>